<!DOCTYPE html>
<html lang="en">
<head>
  <title>BURGERHEAVEN ONLINE</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
  integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
  crossorigin="anonymous">

</head>
<body>
  <div class="">
    <h1>Wlcome to BurguerHeaven Online</h1>
    <h3>Select burguer</h3>
    <p>This is where you execute burger selection</p>
  </div>
  <div class="burgerimages">
    <div class="image1">
      <h3>The Fire Burger</h3>
      <img src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" alt="Burger 1">
      <ul>
        <li>750 kCal</li>
        <li>Contains lactose</li>
        <li>Contains gluten</li>
      </ul>
    </div>
    <div class="image2">
      <h3>Fried Turkey Burger</h3>
      <img src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" alt="Burger 2">
      <ul>
        <li>750 kCal</li>
        <li>Contains lactose</li>
        <li>Contains gluten</li>
      </ul>
    </div>
    <div class="image3">
      <h3>A Double w/ Cheese</h3>
      <img src="https://www.seriouseats.com/recipes/images/2015/07/20150728-homemade-whopper-food-lab-35-1500x1125.jpg" alt="Burger 3">
      <ul>
        <li>750 kCal</li>
        <li>Contains lactose</li>
        <li>Contains gluten</li>
      </ul>
    </div>
  </div>
  <div class="customerinfo">
    <h3>Customer information</h3>
    <p>This is where you provide necessary information</p>
  </div>
  <div class="deliveryinfo">
    <h4>Delivery information</h4>
    <div class="deliveryinfo1">
      <label for="uname">Full name </label>
      <input type="text" id="uname" name="uname" required
      placeholder="First-and Last name">
    </div>
    <div class="deliveryinfo2">
      <label for="uname">E-mail  </label>
      <input type="text" id="uname" name="uname" required
      placeholder="E-mail adress">
    </div>
    <div class="deliveryinfo3">
      <label for="uname">Street </label>
      <input type="text" id="uname" name="uname" required
      placeholder="Street name">
    </div>
    <div class="deliveryinfo4">
      <label for="uname">House </label>
      <input type="text" id="uname" name="uname" required
      placeholder="House number">
    </div>
    <div class="payment">
      <p>Payment options </p>
      <select>
        <option value="credit" selected>Credit card</option>
        <option value="saab">Paypal</option>
        <option value="fiat">Swift</option>
      </select>
    </div>
    <div class="gender">
      <p>Gender</p>
      <input type="radio" name="gender" id="male" value="male">
      <label for="male">Male</label><br>
      <input type="radio" name="gender" id="female" value="female">
      <label for="female">Female</label><br>
      <input type="radio" name="gender" id="non-binary" value="non-binary">
      <label for="other">Non-binary</label><br>
      <input type="radio" name="gender" id="undis" value="undis">
      <label for="other">Undisclosed</label><br>
    </div>
    <div class="placeorder">
      <button type="button" name="button"><i class='fas fa-motorcycle'></i> Place my order!</button>
    </div>
  </div>
  <div class="footer">
    <p>2018 Hypothetical Burgers Inc.</p>
  </div>





</body>
</html>
