<!DOCTYPE html>
<html lang="en">
<head>
  <title>BURGERHEAVEN ONLINE</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
  integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
  crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/deli-very.css">


  <script src="https://vuejs.org/js/vue.js" defer></script>

  <script src="js/menu.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/deli-very.js" defer></script>
  <script src="js/vue_script.js" defer></script>


</head>
<body>
  <section class="header">
    <img src="https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?cs=srgb&dl=background-board-carpentry-301378.jpg&fm=jpg" alt="">
    <h1>Welcome to Burguer Heaven Online</h1>
  </section>
  <section class="burgers">
    <h3>Select burguer</h3>
    <p>This is where you execute burger selection</p>
    <div class="menu" id="menu">
      <div v-for="burger in menu">
        <h3>{{ burger.name }} <input type="checkbox" name="selection" :value= "burger.name" v-model = checked> </h3>

        <img :src="burger.img" alt="Burger 1">
        <ul>
          <li>{{ burger.kCal }}</li>
          <li>{{ burger.lactose }}</li>
          <li>{{ burger.gluten }}</li>
        </ul>

      </div>

    </div>
  </section>
  <section class="orderinfo" id="orderinfo">
    <div class="customerinfo">
      <h3>Customer information</h3>
      <p>This is where you provide necessary information</p>
    </div>
    <div class="deliveryinfo">
      <h4>Delivery information</h4>
      <div class="deliveryinfo">
        <label for="uname">Full name </label>
        <br>
        <input type="text" id="name" name="uname" required
        placeholder="First and Last name" v-model = name>
      </div>
      <div class="deliveryinfo">
        <label for="uname">E-mail  </label>
        <br>
        <input type="text" id="email" name="uname" required
        placeholder="E-mail adress" v-model = email>
      </div>

<div class="payment" >
  <label>Payment options </label>
  <br>
  <select id="pay" v-model = payment>
    <option value="Credit card">Credit card</option>
    <option value="Paypal">Paypal</option>
    <option value="Swift">Swift</option>
  </select>
</div>
<div class="gender">
  <label>Gender</label>
  <br>
  <input type="radio" name="gender" id="male" value="Male" v-model = gender>
  <label for="male">Male</label><br>
  <input type="radio" name="gender" id="female" value="Female" v-model = gender>
  <label for="female">Female</label><br>
  <input type="radio" name="gender" id="non-binary" value="Non-binary" v-model = gender>
  <label for="other">Non-binary</label><br>
  <input type="radio" name="gender" id="undis" value="Undisclosed" v-model = gender>
  <label for="other">Undisclosed</label><br>
</div>
</div>
</section>

<div id="mapfinalaaaa">
  <h1> Click in the map! </h1>
  <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
  <div class="view-box">
    <div id="dots" v-on:click="displayOrder">
      <div
      v-if = "placed"
      v-bind:style="{ left: pin.x + 'px', top: pin.y + 'px'}">
      {{value}}
    </div>
  </div>
</div>
</div>

<div class="placeorder" id="orderbutton">
  <button type="button" name="button" v-on:click="markDone"><i class='fas fa-motorcycle'></i> Place my order!</button>
</div>

<section id="ordersummary"  class="orderinfo" v-if = "flag">
  <div>
    <!-- <h3 v-if="summary != '' ">{{ summary }}</h3> -->
    <ul>
      <li>{{ burgers }}</li>
      <li>{{ name }}</li>
      <li>{{ email }}</li>
      <li>{{ location }}</li>
      <li>{{ payment }}</li>
      <li>{{ gender }}</li>

    </ul>
  </div>
</section>

<section class="footer">
  <p>&copy; 2018 Hypothetical Burgers Inc.</p>
</section>


</body>
</html>
